<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Create A New Season</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet" />
	<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
	<meta name="description" content="">
	<style type="text/css">
	 body{
	 	background-color: #eee;
	 }
	</style>
</head>

<body>
	<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
    </div>
    <div class="container">
		<h1>Edit seasons</h1>
		<h3>We know the season's Data is important. So: </h3>
		<h2>Delete any season is not delete it in Cloud. It only not display in Web.</h2>
		<h2>We have number of seasons:</h2>
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
</body>
</html>